flow.txt
[{"id":"eda8737.6fcfa9","type":"inject","z":"7f54fc5b.6ecc14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["8cf973d3.8b8ff"]]},{"id":"ce53d049.df278","type":"http request","z":"7f54fc5b.6ecc14","name":"","method":"GET","ret":"txt","url":"http://my.keenetic.net/auth","tls":"","x":490,"y":60,"wires":[["ac4886eb.4bebd8"]]},{"id":"9da7138b.a215a","type":"function","z":"7f54fc5b.6ecc14","name":"Put your router login/pass here","func":"var md5 = global.get('md5');\nvar sha256 = global.get('sha256');\n\nvar pass=sha256(msg.headers[\"x-ndm-challenge\"]+\nmd5(\"admin\"+\":\"+msg.headers[\"x-ndm-realm\"]+\":\"+\"router password here\"));\n\nvar headers={};\nheaders[\"content-type\"]=\"application/json\";\n\nnewmsg={payload:{login:\"admin\", password:pass}, \n    headers:headers, \n    cookies:msg.responseCookies\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["c2f1b5e4.0f21f8"]]},{"id":"c2f1b5e4.0f21f8","type":"http request","z":"7f54fc5b.6ecc14","name":"","method":"POST","ret":"txt","url":"http://my.keenetic.net/auth","tls":"","x":1070,"y":60,"wires":[["5f0bf368.7c038c"]]},{"id":"ac4886eb.4bebd8","type":"switch","z":"7f54fc5b.6ecc14","name":"401/200","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"401","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":60,"wires":[["9da7138b.a215a"],[]]},{"id":"5f0bf368.7c038c","type":"switch","z":"7f54fc5b.6ecc14","name":"authenticated","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":120,"wires":[["6df8e68b.2cdfb8"]]},{"id":"6df8e68b.2cdfb8","type":"change","z":"7f54fc5b.6ecc14","name":"rcicookies","rules":[{"t":"set","p":"rcicookies","pt":"global","to":"cookies","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":120,"wires":[[]]},{"id":"df4f68fd.c1f628","type":"http request","z":"7f54fc5b.6ecc14","name":"","method":"GET","ret":"obj","url":"http://my.keenetic.net/rci/show/ip/hotspot/host","tls":"","x":310,"y":380,"wires":[["c5c996aa.44c948"]]},{"id":"55cbc1b2.65d11","type":"change","z":"7f54fc5b.6ecc14","name":"get rcicookies","rules":[{"t":"set","p":"cookies","pt":"msg","to":"rcicookies","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":380,"wires":[["df4f68fd.c1f628"]]},{"id":"10b11e70.faf572","type":"inject","z":"7f54fc5b.6ecc14","name":"15 sec","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["55cbc1b2.65d11"]]},{"id":"8cf973d3.8b8ff","type":"change","z":"7f54fc5b.6ecc14","name":"get rcicookies","rules":[{"t":"set","p":"cookies","pt":"msg","to":"rcicookies","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":60,"wires":[["ce53d049.df278"]]},{"id":"c5c996aa.44c948","type":"switch","z":"7f54fc5b.6ecc14","name":"401 - need auth","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"401","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":380,"wires":[["f6fc267b.756018"],["923c856c.754cb8"]]},{"id":"f6fc267b.756018","type":"delay","z":"7f54fc5b.6ecc14","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"9","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":180,"wires":[["ce53d049.df278","40a5b7e1.b72568"]]},{"id":"40a5b7e1.b72568","type":"delay","z":"7f54fc5b.6ecc14","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":180,"wires":[["55cbc1b2.65d11"]]},{"id":"923c856c.754cb8","type":"splitter","z":"7f54fc5b.6ecc14","name":"","property":"payload","x":710,"y":380,"wires":[["148fbb46.1d0405"]]},{"id":"be9243a2.aa3ec","type":"switch","z":"7f54fc5b.6ecc14","name":"name","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"DeviceName1","vt":"str"},{"t":"eq","v":"DeviceName2","vt":"str"},{"t":"eq","v":"DeviceName3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":110,"y":580,"wires":[["127348dd.85df27"],["127348dd.85df27"],["127348dd.85df27"]]},{"id":"148fbb46.1d0405","type":"switch","z":"7f54fc5b.6ecc14","name":"active","property":"payload.active","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":380,"wires":[["a614e865.bd4038"]]},{"id":"a614e865.bd4038","type":"change","z":"7f54fc5b.6ecc14","name":"topic=name","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":460,"wires":[["be9243a2.aa3ec"]]},{"id":"8c16ce03.8444b","type":"http request","z":"7f54fc5b.6ecc14","name":"Internet Onlime","method":"GET","ret":"obj","url":"http://my.keenetic.net/rci/show/interface/stat?name=GigabitEthernet0/0","tls":"","x":340,"y":720,"wires":[["627d8b1a.2198c4"]]},{"id":"afbd50ac.9928f","type":"change","z":"7f54fc5b.6ecc14","name":"get rcicookies","rules":[{"t":"set","p":"cookies","pt":"msg","to":"rcicookies","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":720,"wires":[["8c16ce03.8444b"]]},{"id":"860ff8e4.3be608","type":"inject","z":"7f54fc5b.6ecc14","name":"1 min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":660,"wires":[["afbd50ac.9928f"]]},{"id":"627d8b1a.2198c4","type":"switch","z":"7f54fc5b.6ecc14","name":"401 - need auth","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"401","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":720,"wires":[[],["194deebd.b9b701"]]},{"id":"522843e2.e51dec","type":"debug","z":"7f54fc5b.6ecc14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":720,"wires":[]},{"id":"3fcc7b4d.3b03d4","type":"inject","z":"7f54fc5b.6ecc14","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":660,"wires":[["b4d7fb67.87da58"]]},{"id":"b4d7fb67.87da58","type":"change","z":"7f54fc5b.6ecc14","name":"","rules":[{"t":"set","p":"lastbytes","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":660,"wires":[[]]},{"id":"194deebd.b9b701","type":"function","z":"7f54fc5b.6ecc14","name":"calc traffic","func":"var bytes=msg.payload.txbytes+msg.payload.rxbytes;\nif(context.flow.lastbytes > 0 && context.flow.lastbytes < bytes){\n    msg.payload=(bytes-context.flow.lastbytes)/1024/1024;\n} else {\n    msg.payload=0.0;\n}\ncontext.flow.lastbytes=bytes;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":720,"wires":[["522843e2.e51dec"]]},{"id":"415409be.215978","type":"comment","z":"7f54fc5b.6ecc14","name":"Traffic calcualtion","info":"","x":740,"y":660,"wires":[]},{"id":"127348dd.85df27","type":"trigger","z":"7f54fc5b.6ecc14","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":310,"y":580,"wires":[["77635576.aa2d6c"]]},{"id":"ad441c50.a6c28","type":"debug","z":"7f54fc5b.6ecc14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":580,"wires":[]},{"id":"77635576.aa2d6c","type":"switch","z":"7f54fc5b.6ecc14","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":580,"wires":[["b85c41b1.811d6"],["36bef832.99cfe8"]]},{"id":"b85c41b1.811d6","type":"template","z":"7f54fc5b.6ecc14","name":"at home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"at home","output":"str","x":640,"y":560,"wires":[["ad441c50.a6c28"]]},{"id":"36bef832.99cfe8","type":"template","z":"7f54fc5b.6ecc14","name":"not at home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"not at home","output":"str","x":650,"y":600,"wires":[["ad441c50.a6c28"]]}]